.postTop {
    background-position: center;
    object-fit: cover;
    display: flex;
    flex-direction: column;
}

.createPost {
    background-color: #1D3557;
    width: 45vw;
    align-self: center;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    color:#F1FAEE;
    font-size: 20px;
    display: inline-block;
}

.message {
    background-color: #E63946;
    align-self: center;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    opacity: .95;
    display: inline-block;
}

.message2 {
    background-color: #E63946;
   margin-left: 15%;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    opacity: .95;
    display: inline-block;
}

.postMid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.allPosts{
    margin-left:15px ;
    margin-top:15px;
    background-color: #1D3557;
    color:#F1FAEE;
    text-decoration: underline;
    max-width: 350px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.allPosts img {
    max-width:350px;
    height: auto;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    opacity: 1.00;
}

.postModal {
    max-height: 100vh;
    overflow-y: auto;
    background-color: thistle;
    background-image: url("https://images.pexels.com/photos/1293269/pexels-photo-1293269.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.createComment {
    background-color:#1D3557;
    height: 50px;
    text-align: center;
    width: 35vw;
    margin-left:15vw;
    margin-top: 15px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
    border-radius: 10px;
    display: inline-block;
}

.singPostCont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    color:#F1FAEE ;
    height: auto;
}

.singPost {
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
    border-radius: 10px;
    width: 70vw;
    padding: 2px;
    background-color: #1D3557;
}

.singPost img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    border: 3px solid #F1FAEE;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px #E63946;
}

.singPost h1 {
    text-align: center;
}

.singPost h2 {
    border-top: solid 3px #457B9D;
}

.replyTop {
    margin-top: 10px;
    
    border-bottom: #F1FAEE solid 2px;
    width: 35vw;
    height: auto;
    background-color: #31587A;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
    border-radius: 10px;
    padding:2px;
}

.replyCont {
    border-bottom: #F1FAEE solid 2px;
    margin: 10px;
}

.replyForm {
  background-color: #E63946;
  border: 2px solid #1D3557;
  width: 35vw;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
    border-radius: 10px;
    margin: 10px;
}

.commentsInfo {
    display: flex;
    flex-direction: row;
}

